In [3]:
# Drill - Describing Data
# uses Brady bunch actor information

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import statistics

In [34]:
# Started with a list to create row names.
actors = ['Greg',
          'Marcia',
          'Peter',
          'Jan',
          'Bobby',
          'Cindy',
          'Oliver']

# Created an empty data frame with names of actors in rows.

new_frame = pd.DataFrame(index=actors)
new_frame['age'] = [14, 12, 11, 10, 8, 6, 8]
new_frame

        age
Greg     14
Marcia   12
Peter    11
Jan      10
Bobby     8
Cindy     6
Oliver    8

In [14]:
def stats(new_frame):
    print('mean = ', np.mean(new_frame['age']))
    print('median = ', np.median(new_frame['age']))
    print('mode = ', statistics.mode(new_frame['age']))
stats(new_frame)

mean =  9.857142857142858
median =  10.0
mode =  8

### Mean is better estimate of central tendency, because there are no outliers.

In [16]:
def measure(new_frame):
    print('variance = ', new_frame['age'].var())
    print('standard deviation = ',np.std(new_frame['age'], ddof=1))
    print('standard error = ', np.std(new_frame['age'] ,ddof=1) / np.sqrt(len(new_frame['age'])))
measure(new_frame)

variance =  7.476190476190475
standard deviation =  2.734262327610589
standard error =  1.0334540197243192

### Use standard deviation as the best estimate of variance since sample size is small.

In [18]:
# Next, Cindy has a birthday. Update your estimates - what changed, and what didn't?

frame2 = new_frame.copy()
frame2.loc['Cindy','age'] = 7
frame2

        age
Greg     14
Marcia   12
Peter    11
Jan      10
Bobby     8
Cindy     7
Oliver    8

In [20]:
stats(frame2)
measure(frame2)

mean =  10.0
median =  10.0
mode =  8
variance =  6.333333333333333
standard deviation =  2.516611478423583
standard error =  0.9511897312113418

### The mean, variance, standard deviation, and standard error changed.  
### The median and mode stayed the same.

In [21]:
# Now replace Oliver with Jessica, the 1 year old.

frame3 = frame2.copy()
frame3

        age
Greg     14
Marcia   12
Peter    11
Jan      10
Bobby     8
Cindy     7
Oliver    8

In [23]:
frame3.drop('Oliver', inplace=True, axis=0)
frame3

        age
Greg     14
Marcia   12
Peter    11
Jan      10
Bobby     8
Cindy     7

In [24]:
frame3.loc['Jessica'] = 1
frame3

         age
Greg      14
Marcia    12
Peter     11
Jan       10
Bobby      8
Cindy      7
Jessica    1

In [32]:
mean_frame3 = np.mean(frame3['age'])
rounded_mean3 = round(mean_frame3, 2)
rounded_mean3

median_frame3 = np.median(frame3['age'])
rounded_median3 = round(median_frame3, 2)
rounded_median3

(values, counts) = np.unique(frame3['age'], return_counts=True)
ind = np.argmax(counts)

mode_frame3 = np.extract(counts==ind, values)
print(modes)

print('mean = ', mean_frame3)
print('median = ', median_frame3)
print('mode = ',mode_frame3)

[]
mean =  9.0
median =  10.0
mode =  []

In [35]:
print('variance = ', frame3['age'].var())
print('standard deviation = ', np.std(frame3['age'], ddof=1))
print('standard error = ', np.std(frame3['age'] ,ddof=1) / np.sqrt(len(frame3['age'])))

variance =  18.0
standard deviation =  4.242640687119285
standard error =  1.6035674514745462

### Now median is better estimate because of the introduction of an outlier (Jessica, 1)
### Std dev is still better to use since it's a small sample.

In [ ]:
# 50th Anniversary magazine poll.

magazines = ['TV Guide',
          'Entertainment Weekly',
          'Pop Culture Today']

fifty_frame = pd.DataFrame(index=magazines)
fifty_frame['fan_percent'] = [20,23,17]
fifty_frame

### Don't use SciPhi Fanatic magazine because it's for a different audience.

In [ ]:
fan_mean = np.mean(fifty_frame['fan_percent'])
rounded_fan_mean = round(fan_mean,2)
rounded_fan_mean

### Approximately 20% of adult Americans were Brady Bunch fans on the 50th anniversary of the show.
### This assumes the remaining 3 magazines readership is representative of American adults.